@import "tailwindcss";

@theme {
    /* Font Families */
    --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-title: "Lato", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-body: "Open Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* Colors */
    --color-neutral-50: #f7f7f7;
    --color-neutral-100: #eeeeee;
    --color-neutral-200: #e0e0e0;
    --color-neutral-300: #cacaca;
    --color-neutral-400: #b1b1b1;
    --color-neutral-500: #999999;
    --color-neutral-600: #7f7f7f;
    --color-neutral-700: #676767;
    --color-neutral-800: #545454;
    --color-neutral-900: #464646;
    --color-neutral-950: #282828;

    --color-primary-50: #f3f1ff;
    --color-primary-100: #e9e5ff;
    --color-primary-200: #d5cfff;
    --color-primary-300: #b7a9ff;
    --color-primary-400: #9478ff;
    --color-primary-500: #7341ff;
    --color-primary-600: #631bff;
    --color-primary-700: #611bf8;
    --color-primary-800: #4607d0;
    --color-primary-900: #3c08aa;
    --color-primary-950: #220174;

    /* Red Accent Colors */
    --color-accent-50: #fff1f1;
    --color-accent-100: #ffe1e1;
    --color-accent-200: #ffc7c7;
    --color-accent-300: #ffa0a0;
    --color-accent-400: #ff6b6b;
    --color-accent-500: #ff3e3e;
    --color-accent-600: #ed2121;
    --color-accent-700: #c81818;
    --color-accent-800: #a61717;
    --color-accent-900: #8a1a1a;
    --color-accent-950: #4c0a0a;

    /* Font Sizes */
    --font-size-xs: 12px / 19.2px;
    --font-size-sm: 14px / 21px;
    --font-size-base: 16px / 25.6px;
    --font-size-lg: 18px / 27px;
    --font-size-xl: 20px / 28px;
    --font-size-2xl: 24px / 31.2px;
    --font-size-3xl: 30px / 36px;
    --font-size-4xl: 36px / 41.4px;
    --font-size-5xl: 48px / 52.8px;
    --font-size-6xl: 60px / 66px;
    --font-size-7xl: 72px / 75.6px;
    --font-size-8xl: 96px / 100.8px;
    --font-size-9xl: 128px / 134.4px;

    /* Border Radius */
    --border-radius-none: 0px;
    --border-radius-sm: 6px;
    --border-radius-default: 12px;
    --border-radius-md: 18px;
    --border-radius-lg: 24px;
    --border-radius-xl: 36px;
    --border-radius-2xl: 48px;
    --border-radius-3xl: 72px;
    --border-radius-full: 9999px;

    /* Spacing */
    --spacing-0: 0px;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 28px;
    --spacing-8: 32px;
    --spacing-9: 36px;
    --spacing-10: 40px;
    --spacing-11: 44px;
    --spacing-12: 48px;
    --spacing-14: 56px;
    --spacing-16: 64px;
    --spacing-20: 80px;
    --spacing-24: 96px;
    --spacing-28: 112px;
    --spacing-32: 128px;
    --spacing-36: 144px;
    --spacing-40: 160px;
    --spacing-44: 176px;
    --spacing-48: 192px;
    --spacing-52: 208px;
    --spacing-56: 224px;
    --spacing-60: 240px;
    --spacing-64: 256px;
    --spacing-72: 288px;
    --spacing-80: 320px;
    --spacing-96: 384px;
    --spacing-px: 1px;
    --spacing-0\.5: 2px;
    --spacing-1\.5: 6px;
    --spacing-2\.5: 10px;
    --spacing-3\.5: 14px;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
